@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{/*
    private bool isProda = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var name = await JSRuntime.InvokeAsync<string>("localStorage.setItem", "name");
            if(!string.IsNullOrEmpty(name))
            {
                var role = await JSRuntime.InvokeAsync<string>("localStorage.setItem", "name");
                isProda = role == "Продавец";
                StateHasChanged();
            }
        }
    }*/
}
