@using Microsoft.AspNetCore.SignalR.Client
@using market3.DataBase
<h3>Авторизация</h3>
<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <div>
            <label>Имя пользователя</label>
            <InputText @bind-Value="user.Name" />
        </div>
    </p>
    <p>
       
    </p>
    <p>
        <div>
            <label>Пароль</label>
            <InputText type="password" @bind-value="user.Password" />
        </div>
    </p>


    <button type="submit">Войти</button>
</EditForm>
@code {
    private User user = new User();
    private HubConnection? hubConnection;
    
    
    private async Task HandleLogin()
    {
        hubConnection = new HubConnectionBuilder().WithUrl("http://localhost:5122/producthub").Build();
        await hubConnection.StartAsync();
        await hubConnection.SendAsync("Login", user.Name,user.Password);

    }
}
