@using Microsoft.AspNetCore.SignalR.Client
@using market3.DataBase;
@using Microsoft.AspNetCore.Components.Forms;
@inject JSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@page "/Register"
<h3>Регистрация пользователя</h3>


@code {
    
}
